@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-danger {
  @apply bg-red-500 hover:bg-red-600 text-white p-2 rounded;
}
.btn-success {
  @apply bg-green-500 hover:bg-green-600 text-white p-2 rounded;
}
.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600 p-2 text-white rounded;
}
.btn-secondary {
  @apply bg-purple-500 hover:bg-purple-600 p-2 text-white rounded;
}
.btn-logout {
  @apply text-red-500 hover:text-red-700;
}
